
body, html{
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
	height: 100%;
	background: #F1F1F1;
}


.content {
	margin-top: 0px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 100px;
	padding: 20px 50px;
	min-height: 50%;
	background-color: rgba(255,255,255,1);
	border-radius: 30px;
	border: 4px solid #AAF0D1;
}

/*---TOPBAR---*/


.topbar {
	height: 10%;
/* 	position: fixed; */
	top: 0;
	left: 0;
	right: 0;
	/*background-image: -moz-linear-gradient(left, #AAF0D1, #AAF0D1 25%, #689380);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AAF0D1), color-stop(25%, #AAF0D1), to(#689380));
	background-image: -webkit-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);
	background-image: -ms-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);
	background-image: -o-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);
	background-image: linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);*/
	background: #F1F1F1;
}

.topbar .logo a, .topbar .link a {
	color: #464646;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	text-decoration: none;
	position: relative;
	display: block;
	padding: 32px 10px 12px;
	font-size: 23px;
	font-weight: 200;
	line-height: 1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.topbar .logo a {
	float: left;
	margin: 0 10%;
}

.topbar .link a {
	float: right;
	margin: 0 10%;
}


.topbar a:hover {
  color: #7F7F7F;
}



/*---TITLE BAR---*/

.titlebar {
	height: 100px;
	
	margin-top: 89px;
	left: 0;
	right: 0;
	/*background-color: rgba(170,240,209,1);*/
	background-image: -moz-linear-gradient(top, rgba(170,240,209,0.9), rgba(170,240,209,0.9) 20%, rgba(104,147,128,0.9));
	border-bottom: 4px solid #D0D0D0;
}

.titlebar h1 {
	padding: 40px;
	font-size: 21px;
	text-align: center;
}



/*---LOGIN FORM---*/

.login {
	float: right;
	padding: 0px 15px;
	margin-left: auto;
	margin-right: 15%;
/* 	background-color: 	#AAF0D1; */
	/*background-color: rgba(36,82,101,0.75);*/
	/*background-color: rgba(170,240,209,0.75);*/
	/*border:2px solid;*/
	height:100%;
	/*border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;*/
	border-left: 3px solid #696969;
	border-right: 3px solid #696969;
	/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AAF0D1), color-stop(25%, #AAF0D1), to(#689380));
	background-image: -webkit-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);*/
	background-image: -moz-linear-gradient(top, rgba(170,240,209,0.7), rgba(170,240,209,0.7) 25%, rgba(104,147,128,0.7)); 
	/*background-image: -ms-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);
	background-image: -o-linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);
	background-image: linear-gradient(#AAF0D1, #AAF0D1 25%, #689380);*/
/* 	background-image: -moz-linear-gradient(-45deg, rgba(170,240,209,0.7), rgba(104,147,128,0.7)); */
	text-align:right;
}

.login h1 {
	text-align: center;
	padding: 50% 0px 0px 0px;
	line-height: 2;
}

.login a{
	color: #424242;
}


/*[type=text]*/
input{
	background-color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: normal;
	font-weight: 13px;
	line-height: 1;
	padding: 4px 9px;
	color: #000000;
	border: 1px solid #111;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

input:focus, input:hover{
	border-color: rgba(0, 0, 0, 0.8);
	-webkit-box-shadow:  inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:	inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow:	inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
}

input[type=submit] {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

input[type=submit]:focus {
	background-position: 0 -15px;
}



/*---DEFINITION LIST---*/
/* dl contiene dt che contiene dd*/

dd, dt {
    display: inline-block;
}

dl {
  font-weight: bold;
  margin-left: 10px;
}

dd.error {
	display: inherit;
    color: #AD0000;
}

dl.error input {
	border-color: #AD0000;
}

dl.error input:hover, dl.error input:focus {
	-webkit-box-shadow:  inset 0 1px 3px rgba(173, 0, 0, 0.1), 0 0 8px rgba(173, 0, 0, 0.6);
	-moz-box-shadow:	inset 0 1px 3px rgba(173, 0, 0, 0.1), 0 0 8px rgba(173, 0, 0, 0.6);
	box-shadow:	inset 0 1px 3px rgba(173, 0, 0, 0.1), 0 0 8px rgba(173, 0, 0, 0.6);
}