@(owner: User, guest: User, album: Album)
 
@main("album", owner, guest, album) {
	<div class="page-header">		
		<h4 align="center">@album.name.toUpperCase()</h4>
	</div>
	
	@if(album.photos.size() > 0){
		<div id="gallery-list">
			@for(photo <- album.photos) {
				<a id="@photo.filename" class="fancybox" rel="group" href='/photos/@owner.email/@photo.filename' title="@photo.title">
					<img src='/photos/@owner.email/thumb_@photo.filename' height="200" alt="" />
				</a>
			}
		</div>
		<h4 id="nophotos" style="display:none">@Messages("album.empty")</h4>
	} else{
		<h4 id="nophotos">@Messages("album.empty")</h4>
		<div id="gallery-list"></div>
	}
	
	


	@if(owner.email.equals(guest.email)){	
		<div class="modal hide fade" id="load">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.loadImage")</h3>
			</div>
			<form name="loadForm">
				<div class="modal-body">
						<input type="file" id="myfile" accept="image/*"><br><br>
						@Messages("img.title"):
						<input type="text" id="imgtitle"><br><br>
				</div>
				<div class="modal-footer">
					<span href="" class="btn btn-primary" id="sendbtn" data-dismiss="modal">@Messages("btn.load")</span>
					<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
				</div>
			</form>
		</div>
		
		
		<div class="modal hide fade" id="del">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.delImage")</h3>
				@Messages("info.delimg")<br><br>
			</div>
			<div class="modal-body">
				@Messages("info.delimg")<br><br>
				<div id="album-radio-list2">
					@for(photo <- album.photos) {
						<img  id="@photo.filename" onclick="deletePhoto('@photo.filename')" src='/photos/@owner.email/thumb_@photo.filename' height="100" alt="" />
					}
				</div>
			</div>
			<div class="modal-footer">
				<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
			</div>
		</div>
		
		
		
		<script type="text/javascript">
			var files = $("#myfile").get(0);

			$("#sendbtn").click(function() {
				var file = files.files[0],
				ws = new WebSocket("@routes.Actions.send().webSocketURL(request)");
				ws.onopen = function() {
					if (document.loadForm.imgtitle.value.length > 0){
						ws.send(new Blob([file.name], { type: "application/octet-stream" }));
						ws.send(new Blob([document.loadForm.imgtitle.value], { type: "application/octet-stream" }));
						ws.send(new Blob(['@album.name'], { type: "application/octet-stream" }));
						ws.send(file);
					}
					else{
						alert('@Messages("error.emptytitle")');
					}
				}
				ws.onmessage = function(e){
					var reader = new FileReader();

					reader.readAsText(e.data);
					reader.onloadend = function() {
						var filename = reader.result;
						//var filename = path.match(/\/(.*)$/)[1];
						var $image = $('<a id="'+filename+'" class="fancybox" rel="group" href="/photos/@owner.email/'+filename+'" title="">'+
						'<img src="/photos/@owner.email/thumb_'+filename+'" height="200" alt="" />' +
						'</a>');
						var $imagedel = $('<img id="'+filename+'" onclick="deletePhoto(\''+filename+'\')" src="/photos/@owner.email/thumb_'+filename+'" height="100" alt="" />');
						$("#gallery-list").append($image);
						$("#gallery-list-del").append($imagedel);
						$("#nophotos").css( "display", "none" );
						$( "#imgdelbtn" ).css( "display", "block" );
					}
				}
			})


			function deletePhoto(filename) {
				$.ajax({
						type: "delete",
						url: "/photo/" + filename
				}).success(function() {
					var element = document.getElementById(filename);
					element.parentNode.removeChild(element);
					var element = document.getElementById(filename);
					element.parentNode.removeChild(element);
					if ($("#gallery-list").find(".fancybox").length==0){
						$( "#nophotos" ).css( "display", "block" );
						$( "#imgdelbtn" ).css( "display", "none" );
					}
				 })
			}
		</script>	
	}





	<script type="text/javascript">
		
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
					
	</script>
			   
}
