@(loginForm: Form[Login])
@import helper._

@main("homepage", null, null, null) {
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span7">
					<div id="myCarousel" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							@defining(Math.random()*3) { rand =>
								@* this is for random choice of hompage first image *@
								<div class="@if(rand <= 1){active} item">
									<img src='@routes.Assets.at("images/p1.jpg")' alt="">
								</div>
								<div class="@if(rand > 1 && rand <= 2){active} item">
									<img src='@routes.Assets.at("images/p2.jpg")' alt="">
								</div>
								<div class="@if(rand > 2 && rand <= 3){active} item">
									<img src='@routes.Assets.at("images/p3.jpg")' alt="">
								</div>
							}
							
						</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
				
				<div class="span5">
				<h1 align="center">@Messages("project.name")</h1>
				<br /><br />
					<div class="hero-unit" align="right">
					    <h3>Login</h3>
					    @form(action = routes.Authentication.login) {
							@inputText(
								field = loginForm("email"),
								'_label -> "E-mail",
								'_showConstraints -> false
							)
							@inputPassword(
								field = loginForm("password"),
								'_label -> "Password",
								'_showConstraints -> false,
								'_error -> loginForm.error("password")
							)

							<input class="btn btn-primary" type="submit" value=@Messages("btn.login")>
							&nbsp&nbsp&nbsp&nbsp
							<a class="btn" href="@routes.Application.signup"><i class="icon-user icon-black"></i>  @Messages("btn.orsignup")</a>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
}

	

