@(user: User, results: ArrayList[Photo], pattern: String)
 
@main("search", user, user, null) {
	<div class="page-header">
	<h4>@Messages("research")</h4>
	<h4>"@pattern"</h4>
	</div>

	<div id="gallery-list">
		@if(results.size() > 0){
			@for(photo <- results) {
				<a id="@photo.filename" class="fancybox" rel="group" href='/photos/@photo.ownerEmail/@photo.filename' title="User: @photo.ownerNickname - Title: @photo.title">
					<img src='/photos/@photo.ownerEmail/@photo.filename' height="200" alt="" title="User: @photo.ownerNickname - Title: @photo.title" />
				</a>
			}
		} else{
			<h4>@Messages("notfound")</h4>
		}
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});		
	</script>
	
}
