@(user: User, pwdForm: Form[ChangePwd])
@import helper._

@main("settings", user, user, null) {
	
	<div class="tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#profilo" data-toggle="tab">@Messages("btn.profileSettings")</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">@Messages("btn.accountSettings")<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#account" data-toggle="tab">@Messages("btn.changePwd")</a></li>
					<li><a href="#" onClick="delAccount()">@Messages("btn.delAccount")</a></li>
				</ul>
			</li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="profilo"><br />
				<h4>@Messages("window.profilepic")</h4><br />
				
				<input type="file" id="profilepicinput" accept="image/*"><br /><br />
				<span href="" class="btn btn-primary" id="sendbtn">@Messages("btn.load")</span>
			</div>
			
			<div class="tab-pane" id="account">
				<h4>@Messages("window.changePassword")</h4>
			
				@form(action = routes.Authentication.changePassword) {
					@inputPassword(
						field = pwdForm("oldPassword"),
						'_label -> Messages("oldPwd"),
						'_showConstraints -> false
					)
					@inputPassword(
						field = pwdForm("newPassword"),
						'_label -> Messages("newPwd"),
						'_showConstraints -> false
					)

					<input class="btn btn-primary" type="submit" value=@Messages("btn.changePwd")>
				}
			</div>
                </div>
	</div>
			
			
	<script type="text/javascript">
		var files = $("#profilepicinput").get(0);

		$("#sendbtn").click(function() {
			var file = files.files[0];
			ws = new WebSocket("@routes.Actions.send().webSocketURL(request)");
			ws.onopen = function() {
				ws.send(new Blob([file.name], { type: "application/octet-stream" }));
				ws.send(new Blob(['$profilepic$'], { type: "application/octet-stream" }));
				ws.send(new Blob(['root'], { type: "application/octet-stream" }));
				ws.send(file);
			}
			ws.onmessage = function(e){
				var reader = new FileReader();
				reader.readAsText(e.data);
				reader.onloadend = function() {
					var filename = reader.result;
					$( "#profilepic" ).attr("src",'/photos/@user.email/thumb_'+filename);
				}
			}
		})
		
		function delAccount() {
			if (confirm('@Messages("info.delaccount")')){
				$.ajax({
					type: "post",
					url: "/delaccount"
				}).success(function() {
					alert("Account eliminato.");
					window.location = "/";
				})
			}
		}

		
	</script>
}
