@(userForm: Form[User])
@import helper._

@main( "signup", null, null, null) {
	
	
	<div class="span6 offset6">
		<div class="hero-unit" align="right">
			<div class="signup">
			    <h2>@Messages("signup.title")</h2>
				@form(action = routes.Authentication.signup) {
					@inputText(
						field = userForm("name"),
						'_label -> Messages("name"),
						'_showConstraints -> false
					)
					@inputText(
						field = userForm("surname"),
						'_label -> Messages("surname"),
						'_showConstraints -> false
					)
					@inputText(
						field = userForm("nickname"),
						'_label -> Messages("nickname"),
						'_showConstraints -> false
					)
					@inputDate(
						field = userForm("birthDate"),
						'_label -> Messages("signup.birth"),
						'_showConstraints -> false,
						'placeholder -> Messages("dateFormat")
					)
					@inputText(
						field = userForm("email"),
						'_label -> "E-mail",
						'_showConstraints -> false
					)
					@inputPassword(
						field = userForm("password"),
						'_label -> "Password",
						'_showConstraints -> false,
						'_error -> userForm.error("password")
					)
					@inputPassword(
						field = userForm("rePassword"),
						'_label -> Messages("signup.repeatPassword"),
						'_showConstraints -> false
					)

					<input class="btn btn-primary" type="submit" value=@Messages("btn.signup")>
					&nbsp&nbsp&nbsp&nbsp
					<a class="btn btn-danger" href="@routes.Application.index">@Messages("btn.undo")</a>
				}
		    </div>
	    </div>
	</div>
}
