@(owner: User, guest: User)
 
@main("homepage", owner, guest, null) {

	<div class="page-header">
	<h4 align="center">@Messages("window.album")</h4>
	</div>
	
	<font size=4>
	@if(owner.albums.size() > 0){
		<div id="album-list">
			@for(album <- owner.albums) {
				<a href="@routes.Application.album(owner.nickname, album)" id="@album" class="album-class">@album<br /></a> 
			}
		</div>
		<h3 id="noalbum" style="display:none">@Messages("album.noalbum")</h3>
	} else{
		<div id="album-list"></div>
		<h3 id="noalbum">@Messages("album.noalbum")</h3>
	}
	</font>
	  
   
	@if(owner.email.compareTo(guest.email) == 0){	
		<div class="modal hide fade" id="load">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.loadImage")</h3>
			</div>
			<form name="loadForm">
				<div class="modal-body">
					<input type="file" id="myfile" accept="image/*"><br><br>
					@Messages("img.title"):
					<input type="text" id="imgtitle"><br><br>
					@Messages("img.album"):
					<div id="album-radio-list1">
						@for(album <- owner.albums) {
							<span id="@album-radio1"><input type="radio" name="albumradio" id="@album" value="@album"> @album<br></span>
						}
					</div>			
				</div>
				<div class="modal-footer">
					<span href="" class="btn btn-primary" id="sendbtn" data-dismiss="modal">@Messages("btn.load")</span>
					<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
				</div>
			</form>
		</div>
		
		
		<div class="modal hide fade" id="del">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.delImage")</h3>
			</div>
			<div class="modal-body">
				@Messages("info.delimg")<br><br>
				<div id="gallery-list-del">
					@for(photo <- owner.photos) {
						<img id="@photo.filename" onclick="deletePhoto('@photo.filename')" src='/photos/@owner.email/thumb_@photo.filename' height="100" alt="" />
					}
				</div>
			</div>
			<div class="modal-footer">
				<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
			</div>
		</div>


		<div class="modal hide fade" id="newalbum">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.newAlbum")</h3>
			</div>
			<div class="modal-body">
				@Messages("album.name"):
				<input type="text" name="album" id="newalbumname"><br><br>
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-primary" id="albumbtn" data-dismiss="modal" onclick="newAlbum('@owner.nickname')">Crea</a>
				<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
			</div>
		</div>
		
		
		<div class="modal hide fade" id="delalbum">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>@Messages("window.delAlbum")</h3>
			</div>
			<form name="delForm">
				<div class="modal-body">
					@Messages("info.delalbum")<br><br>
					@Messages("img.album"):
					<div id="album-radio-list2">
						@for(album <- owner.albums) {
							<span id="@album-radio2"><input type="radio" name="delalbumradio" id="@album" value="@album"> @album<br></span>
						}
					</div>
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-primary" id="delalbumbtn" data-dismiss="modal" onclick="delAlbum()">Elimina</a>
					<a href="" class="btn" data-dismiss="modal">@Messages("btn.undo")</a>
				</div>
			</form>
		</div>
		
		
		
		<script type="text/javascript">
			var files = $("#myfile").get(0);

			$("#sendbtn").click(function() {
				var file = files.files[0],
				ws = new WebSocket("@routes.Actions.send().webSocketURL(request)");
				ws.onopen = function() {
					if (document.loadForm.imgtitle.value.length > 0){
						ws.send(new Blob([file.name], { type: "application/octet-stream" }));
						ws.send(new Blob([document.loadForm.imgtitle.value], { type: "application/octet-stream" }));
						ws.send(new Blob([radioChecked(document.loadForm)], { type: "application/octet-stream" }));
						ws.send(file);
					}
					else{
						alert('@Messages("error.emptytitle")');
					}
				}
				ws.onmessage = function(e){
					$( "#imgdelbtn" ).css( "display", "block" );
					var reader = new FileReader();
					reader.readAsText(e.data);
					reader.onloadend = function() {
						var filename = reader.result;
						var $imagedel = $('<img id="'+filename+'" onclick="deletePhoto(\''+filename+'\')" src="/photos/@owner.email/thumb_'+filename+'" height="100" alt="" />');
						$("#gallery-list-del").append($imagedel);
					}
					alert('@Messages("info.imageloaded")');
				}
			})


			
			function newAlbum(nickname) {
				var album = newalbumname.value;

				if (album.length > 0){
					$.ajax({
						type: "post",
						url: "/newalbum/" + album
					}).success(function() {
						$("#album-radio-list1").append('<span id="'+album+'-radio1"><input type="radio" name="albumradio" id="'+album+'" value="'+album+'"> '+album+'<br></span>');
						$("#album-radio-list2").append('<span id="'+album+'-radio2"><input type="radio" name="albumradio" id="'+album+'" value="'+album+'"> '+album+'<br></span>');
						$("#album-list").append('<a href="/'+nickname+'/'+album+'" id="'+album+'"  class="album-class">'+album+'<br /></a>');
						$( "#noalbum" ).css( "display", "none" );					
						$( "#imgloadbtn" ).css( "display", "block" );
						$( "#albumdelbtn" ).css( "display", "block" );
						alert("creato nuovo album: "+album);				
					})
				}
				else{
					alert('@Messages("error.emptyname")');
				}
			}


			function delAlbum(email) {
				var album = radioChecked(document.delForm);
				
				$.ajax({
					type: "post",
					url: "/delalbum/" + album
				}).success(function() {
					var element = document.getElementById(album);
					element.parentNode.removeChild(element);
					var element = document.getElementById(album+'-radio1');
					element.parentNode.removeChild(element);
					var element = document.getElementById(album+'-radio2');
					element.parentNode.removeChild(element);
					if ($("#album-list").find(".album-class").length==0){
						$( "#noalbum" ).css( "display", "block" );
						$( "#imgloadbtn" ).css( "display", "none" );
						$( "#imgdelbtn" ).css( "display", "none" );
						$( "#albumdelbtn" ).css( "display", "none" );
					}
					
				})
			}


			function radioChecked(form) {
				for (var i = 0; i < form.elements.length; i++ ) {
					if (form.elements[i].type == 'radio') {
						if (form.elements[i].checked == true) {
							return form.elements[i].value;
						}
					}
				}	
			}
			
			
			function deletePhoto(filename) {
				var element = document.getElementById(filename);
				  
				$.ajax({
						type: "delete",
						url: "/photo/" + filename
				}).success(function() {
					element.parentNode.removeChild(element);
				 })
			}
		</script>
	}


	<script type="text/javascript">
		
		$(document).ready(function() {
			$(".fancybox-button").fancybox({
				closeBtn		: false,
				helpers		: {
					title	: { type : 'over' },
					buttons : { }
				}
			});
		});

	</script>
			   
}
